<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.trycatch.mapper.alarm.CorporateAlramMapper">

    <select id="selectAllByCorpId" resultType="CorpAlramDTO">
        select id, corp_id, notification_type, notification_title,
               notification_content, notification_related_type,
               notification_related_id, notification_is_read,
               notification_receive_at, created_datetime, updated_datetime
        from tbl_corp_notification
        where corp_id = #{corpId}
          and notification_is_read = false
        order by created_datetime desc
    </select>

    <update id="updateReadByCorpId">
        update tbl_corp_notification
        set notification_is_read = true,
            updated_datetime = current_timestamp
        where corp_id = #{corpId}
          and notification_is_read = false
    </update>

</mapper>
